<tr>
	<td colspan='4'>
		<form>
			<input type='text' name='first' value="First" />
			<input type='text' name='last' value="Last" />
			<select name='categoryId'>
				<%Contacts.Models.Category.list.each(function(i, item){ %>
				<option value='<%=item.id%>'><%=item.name%></option>
				<%})%>
			</select>
			<select name='companyId'>
				<%Contacts.Models.Company.list.each(function(i, item){ %>
				<option value='<%=item.id%>'><%=item.name%></option>
				<%})%>
			</select>
			<select name='locationId'>
				<%Contacts.Models.Location.list.each(function(i, item){ %>
				<option value='<%=item.id%>'><%=item.name%></option>
				<%})%>
			</select>
		</form>
	</td>
</tr>