<% %>
<% 
   var hosts = {};
   hosts["*"] = 0;
   var hostNames = {};
   hostNames["*"] = 0;
   var ports= {};
   ports["*"] = 0;
   var plugins= {};
   plugins["*"] = 0;

   for ( var i = 0; i < this.length ; i++ ) { 
   	if(this[i].isMatch({ 			// Only consider stuff in scans
		scans : fScans ,
	})) {
		if ( typeof hosts[this[i].host] == 'undefined' ) {
			hosts[this[i].host] = 0;
		}
		if ( typeof hostNames[this[i].hostName] == 'undefined' ) {
			hostNames[this[i].hostName] = 0;
		}
		if ( typeof ports[this[i].port] == 'undefined' ) {
			ports[this[i].port] = 0;
		}
		if ( typeof plugins[this[i].plugin] == 'undefined' ) {
			plugins[this[i].plugin] = 0;
		}
   		if(this[i].isMatch({ 
			status : fStatus,
			host : fHost,
			hostName : fHostName,
			port : fPort,
			plugin : fPlugin,
		})) { 
			hosts[this[i].host]++; 
   			hosts["*"]++;
			hostNames[this[i].hostName]++; 
   			hostNames["*"]++;
			ports[this[i].port]++;
   			ports["*"]++;
			plugins[this[i].plugin]++;
   			plugins["*"]++;
		} 
	}
   } 

   for(var ip in hosts) {
   	var octets = ip.split(".");
	for(i=1;i<octets.length;i++) {
		var f = "";
		for(j=0;j<i;j++) {
			f = f + octets[j] + ".";
		}
		f = f + "*";
		if ( typeof hosts[f] == "undefined" ) {
			hosts[f] = 0;
		}
		hosts[f] += hosts[ip];
	}
   }
   hostList = [];
   for(var i in hosts) {
   	hostList.push(i);
   }
   hostList.sort();

   hostNameList = [];
   for(var i in hostNames) {
   	hostNameList.push(i);
   }
   hostNameList.sort();

   portList = [];
   for(var i in ports) {
   	portList.push(i);
   }
   portList.sort();

   pluginList = [];
   for(var i in plugins) {
   	pluginList.push(i);
   }
   pluginList.sort();
%>

Host:
<select filter='host' class='filter hostFilter'>
	<% for(var i=0;i<hostList.length;i++) { %>
		<% if(hosts[hostList[i]] > 0) { %>
			<option 
				value='<%= hostList[i] %>'
				<% if (hostList[i] == fHost) { %> selected <% } %>
			>
				<%= hostList[i] %> (<%= hosts[hostList[i]] %>)
			</option>
		<% } %>
	<% } %>
	<option disabled=true>-----</option>
	<% for(var i=0;i<hostList.length;i++) { %>
		<% if(hosts[hostList[i]] == 0) { %>
			<option 
				value='<%= hostList[i] %>'
				<% if (hostList[i] == fHost) { %> selected <% } %>
			>
				<%= hostList[i] %> (0)
			</option>
		<% } %>
	<% } %>
</select>

Hostname:
<select filter='hostName' class='filter hostNameFilter'>
	<option value="*" <% if (fHostName == "*") { %> selected <% } %>>* (<%= hostNames["*"] %>)</option>
	<% for(var i=0;i<hostNameList.length;i++) { %>
		<% if(hostNames[hostNameList[i]] > 0 && hostNameList[i] != "*") { %>
			<option 
				value='<%= hostNameList[i] %>'
				<% if (hostNameList[i] == fHostName) { %> selected <% } %>
			>
				<% if (hostNameList[i] == "" ) { %>
					(blank) (<%= hostNames[hostNameList[i]] %>)
				<% } else { %>
					<%= hostNameList[i] %> (<%= hostNames[hostNameList[i]] %>)
				<% } %>
			</option>
		<% } %>
	<% } %>
	<option disabled=true>-----</option>
	<% for(var i=0;i<hostNameList.length;i++) { %>
		<% if(hostNames[hostNameList[i]] == 0) { %>
			<option 
				value='<%= hostNameList[i] %>'
				<% if (hostNameList[i] == fHostName) { %> selected <% } %>
			>
				<% if (hostNameList[i] == "" ) { %>
					(blank) (<%= hostNames[hostNameList[i]] %>)
				<% } else { %>
					<%= hostNameList[i] %> (<%= hostNames[hostNameList[i]] %>)
				<% } %>
			</option>
		<% } %>
	<% } %>
</select>

Port:
<select filter='port' class='filter portFilter'>
	<% for(var i=0;i<portList.length;i++) { %>
		<% if(ports[portList[i]] > 0) { %>
			<option 
				value='<%= portList[i] %>'
				<% if (portList[i] == fPort) { %> selected <% } %>
			>
				<%= portList[i] %> (<%= ports[portList[i]] %>)
			</option>
		<% } %>
	<% } %>
	<option disabled=true>-----</option>
	<% for(var i=0;i<portList.length;i++) { %>
		<% if(ports[portList[i]] == 0) { %>
			<option 
				value='<%= portList[i] %>'
				<% if (portList[i] == fPort) { %> selected <% } %>
			>
				<%= portList[i] %> (0)
			</option>
		<% } %>
	<% } %>
</select>

Plugin:
<select filter='plugin' class='filter pluginFilter'>
	<% for(var i=0;i<pluginList.length;i++) { %>
		<% if(plugins[pluginList[i]] > 0) { %>
			<option 
				value='<%= pluginList[i] %>'
				<% if (pluginList[i] == fPlugin) { %> selected <% } %>
			>
				<%= pluginList[i] %> (<%= plugins[pluginList[i]] %>)
			</option>
		<% } %>
	<% } %>
	<option disabled=true>-----</option>
	<% for(var i=0;i<pluginList.length;i++) { %>
		<% if(plugins[pluginList[i]] == 0) { %>
			<option 
				value='<%= pluginList[i] %>'
				<% if (pluginList[i] == fPlugin) { %> selected <% } %>
			>
				<%= pluginList[i] %> (0)
			</option>
		<% } %>
	<% } %>
</select>
<a href='javascript://' class='clearFilter'>Clear</a>
