<% var match = false %>
<option 
	value='none' 
	disabled=true
	help='Please select a scanner'
	<% if(selected == "none") { %>
		selected
		<% match = true %>
	<% } %>
>
	Select a scanner
</option>
<% for(var i = 0; i < this.length ; i++) { %>
	<option <%= this[i] %> 
		value='<%= this[i].name %>'
		help='<%= this[i].help %>'
		<% if(this[i].name == selected) { %>
			selected
			<% match = true %>
		<% } %>
	>
		<%= this[i].name %> - <%= this[i].description %>
	</option>
<% } %>
<option 
	value='other'
	help='Help unavailable'
	<% if(match == false) { %>
		selected
	<% } %>
>
	Other scanner, not listed here
</option>
