<%# Copyright 2015 Frank Breedijk                                            %>
<%#                                                                          %>
<%# Licensed under the Apache License, Version 2.0 (the "License");          %>
<%# you may not use this file except in compliance with the License.         %>
<%# You may obtain a copy of the License at                                  %>
<%#                                                                          %>
<%# http://www.apache.org/licenses/LICENSE-2.0                               %>
<%#                                                                          %>
<%# Unless required by applicable law or agreed to in writing, software      %>
<%# distributed under the License is distributed on an "AS IS" BASIS,        %>
<%# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. %>
<%# See the License for the specific language governing permissions and      %>
<%# limitations under the License.                                           %>
<table class='noborder'>
	<tr><td class='noborder' align=left>
		<% if ( index > 0 ) { %>
			<div align=left>
				<a href='javascript://' index=0 class='move'><img src='img/first.png'></a>
				<a href='javascript://' index=<%= index-1 %> class='move'><img src='img/previous.png'></a>
			</div>
		<% } %>
	</td><td class='noborder' align=right>
		<% if ( index < length-1 ) { %>
			<div align=right>
				<a href='javascript://' index=<%= 1+parseInt(index) %> class='move'><img src='img/next.png'></a>
				<a href='javascript://' index=<%= length-1 %> class='move'><img src='img/last.png'></a>
			</div>
		<% } %>
	</td></tr>
	<tr><td class='noborder'>
		IP :
	</td><td class='noborder'>
		<%= host %>
	</td></tr>
	<tr><td class='noborder'>
		Hostname :
	</td><td class='noborder'>
		<%= hostName %>
	</td></tr>
	<tr><td class='noborder'>
		Port :
	</td><td class='noborder'>
		<%= port %>
	</td></tr>
	<tr><td class='noborder'>
		Plugin :
	</td><td class='noborder'>
		<%= plugin %>
	</td></tr>
	<tr><td class='noborder'>
		Severity :
	</td><td class='noborder'>
		<%= severity %> - <%= severityName %>
	</td></tr>
	<tr><td class='noborder'>
		Finding :
	</td><td class='noborder finding'>
		<%== this.asHTML("find") %>
	</td></tr>
	<tr><td class='noborder'>
		<label for='remark'>Remark :</label>
	</td><td class='noborder'>
		<textarea name='remark' cols=80 rows=5><%= remark %></textarea>
	</td></tr>
	<tr><td class='noborder'>
		Status :
	</td><td class='noborder'>
		<%= statusName %>
	</td></tr>
	<tr><td class='noborder'>
		Issues:
	</td><td class='noborder'>
		<table id='issue_table_findings'></table>
	</td></tr>
	<tr><td class='noborder' colspan=2>
		<input type=button newStatus=<%= status %> value='Update' class='editSetStatus'/>
		<% if ( status == 99 ) { %>
			 <input type=button newStatus=1 value='Set to New' class='editSetStatus'/>
		<% } %>
		<% if ( status <= 2 || status == 4 ) { %>
			<input type=button newStatus=3 value='Set to Open' class='editSetStatus'/>
		<% } %>
		<% if ( status <= 3 ) { %>
			<input type=button newStatus=4 value='Set to No Issue' class='editSetStatus'/>
		<% } %>
		<% if ( status == 6 ) { %>
			<input type=button newStatus=5 value='Set to Gone' class='editSetStatus'/>
		<% } %>
		<% if ( status == 5 ) { %>
			<input type=button newStatus=6 value='Set to Close' class='editSetStatus'/>
		<% } %>
		<% if ( status != 99 ) { %>
			<input type=button newStatus=99 value='Set to MASKED' class='editSetStatus'/>
		<% } %>
			
	</td></tr>
</table>
