<%# Copyright 2013 Frank Breedijk                                            %>
<%#                                                                          %>
<%# Licensed under the Apache License, Version 2.0 (the "License");          %>
<%# you may not use this file except in compliance with the License.         %>
<%# You may obtain a copy of the License at                                  %>
<%#                                                                          %>
<%# http://www.apache.org/licenses/LICENSE-2.0                               %>
<%#                                                                          %>
<%# Unless required by applicable law or agreed to in writing, software      %>
<%# distributed under the License is distributed on an "AS IS" BASIS,        %>
<%# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. %>
<%# See the License for the specific language governing permissions and      %>
<%# limitations under the License.                                           %>
<% count = 0  %>
<% if(typeof this[0] != "undefined" && typeof this[0].error != "undefined" ) { %>
	 <%== $.View('//seccubus/asset/select/views/error.ejs',{ message : this[0].error }) %>
<% } else { %>
	<%for ( var i = 0; i < this.length ; i++ ){%>
		<% if ( this[i].workspace == selectedWorkspace ) { %>
			<option <%= this[i] %> value='<%= this[i].id %>' <% if(this[i].selected) { %>selected<% }%> >
				<%== $.View('//seccubus/asset/select/views/asset.ejs', this[i] )%>
			</option>
			<% count++ %>
		<% } %>
	<% } %>
	<% if ( count == 0 ) { %>
		<%== $.View('//seccubus/asset/select/views/error.ejs',{ message : "No assets found"}) %>
	<% } %>
<% } %>
