<%# Copyright 2015 Frank Breedijk                                            %>
<%#                                                                          %>
<%# Licensed under the Apache License, Version 2.0 (the "License");          %>
<%# you may not use this file except in compliance with the License.         %>
<%# You may obtain a copy of the License at                                  %>
<%#                                                                          %>
<%# http://www.apache.org/licenses/LICENSE-2.0                               %>
<%#                                                                          %>
<%# Unless required by applicable law or agreed to in writing, software      %>
<%# distributed under the License is distributed on an "AS IS" BASIS,        %>
<%# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. %>
<%# See the License for the specific language governing permissions and      %>
<%# limitations under the License.   
<tr class='finding_status_<%= status %>'>
	<td><%= host %></td>
	<td><%= hostName %></td>
	<td><%= port %></td>
	<td><%= scanName %></td>
	<td><%= plugin %></td>
	<td><%= find %></td>
	<td><%= remark %></td>
	<td><%= statusName %></td>
	<td>
		<img finding_id='<%= id %>' src='img/edit.png' class='edit'><br>
		<img finding_id='<%= id %>' src='img/unlink.png' class='unlink'>
	</td>
</tr>