<%# Copyright 2015 Frank Breedijk                                            %>
<%#                                                                          %>
<%# Licensed under the Apache License, Version 2.0 (the "License");          %>
<%# you may not use this file except in compliance with the License.         %>
<%# You may obtain a copy of the License at                                  %>
<%#                                                                          %>
<%# http://www.apache.org/licenses/LICENSE-2.0                               %>
<%#                                                                          %>
<%# Unless required by applicable law or agreed to in writing, software      %>
<%# distributed under the License is distributed on an "AS IS" BASIS,        %>
<%# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. %>
<%# See the License for the specific language governing permissions and      %>
<%# limitations under the License.                                           %>
<% if ( typeof this[0] != "undefined" && typeof this[0].error != "undefined" ) { %>
	 <%== $.View('//seccubus/filter/filter/views/error.ejs',{ message : this[0].error }) %>
<% } else { %>

	Host:
	<select filter='host' class='filter hostFilter'>
		<% for(var i=0;i<this.host.length;i++) { %>
			<option 
				<% if (this.host[i].number == -1 ) { %>
					disabled
				<% } %>
				value='<%= this.host[i].name %>'
				<% if (this.host[i].selected) { %> selected <% } %>
			>
				<%= this.host[i].name %>
				<% if ( this.host[i].number > 0 ) { %>
					(<%= this.host[i].number %>)
				<% } %>
			</option>
		<% } %>
	</select>
	
	Hostname:
	<select filter='hostname' class='filter hostnameFilter'>
		<% for(var i=0;i<this.hostname.length;i++) { %>
			<option 
				<% if (this.hostname[i].number == -1 ) { %>
					disabled
				<% } %>
				value='<%= this.hostname[i].name %>'
				<% if (this.hostname[i].selected) { %> selected <% } %>
			>
				<%= this.hostname[i].name %> 
				<% if ( this.hostname[i].number > 0 ) { %>
					(<%= this.hostname[i].number %>)
				<% } %>
			</option>
		<% } %>
	</select>
	
	Port:
	<select filter='port' class='filter portFilter'>
		<% for(var i=0;i<this.port.length;i++) { %>
			<option 
				<% if (this.port[i].number == -1 ) { %>
					disabled
				<% } %>
				value='<%= this.port[i].name %>'
				<% if (this.port[i].selected) { %> selected <% } %>
			>
				<%= this.port[i].name %>
				<% if ( this.port[i].number > 0 ) { %>
					(<%= this.port[i].number %>)
				<% } %>
			</option>
		<% } %>
	</select>
	
	Plugin:
	<select filter='plugin' class='filter pluginFilter'>
		<% for(var i=0;i<this.plugin.length;i++) { %>
			<option 
				<% if (this.plugin[i].number == -1 ) { %>
					disabled
				<% } %>
				value='<%= this.plugin[i].name %>'
				<% if (this.plugin[i].selected) { %> selected <% } %>
			>
				<%= this.plugin[i].name %>
				<% if ( this.plugin[i].number > 0 ) { %>
					(<%= this.plugin[i].number %>)
				<% } %>
			</option>
		<% } %>
	</select>
	
	Severity:
	<select filter='severity' class='filter severityFilter'>
		<% for(var i=0;i<this.severity.length;i++) { %>
			<option 
				<% if (this.severity[i].number == -1 ) { %>
					disabled
				<% } %>
				value='<%= this.severity[i].value %>'
				<% if (this.severity[i].selected) { %> selected <% } %>
			>
				<%= this.severity[i].name %>
				<% if ( this.severity[i].number > 0 ) { %>
					(<%= this.severity[i].number %>)
				<% } %>
			</option>
		<% } %>
	</select>

	<br>

	Issue:
	<select filter='issue' class='filter issueFilter'>
		<% for(var i=0;i<this.issue.length;i++) { %>
			<option 
				<%= this.issue[i].number == -1 ? "disabled" : "" %>
				value='<%= this.issue[i].value %>'
				<%= this.issue[i].selected ? "selected" : "" %>
			>
				<%= this.issue[i].name %>
				<% if (this.issue[i].number > 0 )  { %>
					(<%= this.issue[i].number %>)
				<% } %>
		<% } %>
	</select>
	
	Finding: <input type='text' filter='finding' class='filter findingFilter' value='<%= this.finding %>'>

	Remark: <input type='text' filter='remark' class='filter remarkFilter' value='<%= this.remark %>'>

	<a href='javascript://' class='clearFilter'>Clear</a>
<% } %>
