<%# Copyright 2015 Frank Breedijk                                            %>
<%#                                                                          %>
<%# Licensed under the Apache License, Version 2.0 (the "License");          %>
<%# you may not use this file except in compliance with the License.         %>
<%# You may obtain a copy of the License at                                  %>
<%#                                                                          %>
<%# http://www.apache.org/licenses/LICENSE-2.0                               %>
<%#                                                                          %>
<%# Unless required by applicable law or agreed to in writing, software      %>
<%# distributed under the License is distributed on an "AS IS" BASIS,        %>
<%# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. %>
<%# See the License for the specific language governing permissions and      %>
<%# limitations under the License.                                           %>
<% if(workspace > 0) { %>
	<label for='remark'>Remark:</label><textarea name='remark' cols=80 rows=1 />
	<br>
	<label for='overwrite'>Overwrite:</label><input type='checkbox' name='overwrite'></input>
	<input type=hidden name='status' id='bulkEditStatus' value='<%= status %>'/>
	<input type=hidden name='workspaceId' value='<%= workspace %>'/>
	<input type=button newStatus=<%= status %> value='Update' class='bulkSetStatus'/>
	<input type=button value='Link to isse' class='bulkLink'/>
	<% if ( status == 99) { %>
		<input type=button newStatus=1 value='Set to New' class='bulkSetStatus'/>
	<% }  %>
	<% if ( status <= 2 || status == 4 ) { %>
		<input type=button newStatus=3 value='Set to Open' class='bulkSetStatus'/>
	<% }  %>
	<% if ( status <= 3 ) { %>
		<input type=button newStatus=4 value='Set to No Issue' class='bulkSetStatus'/>
	<% }  %>
	<% if ( status == 6 ) { %>
		<input type=button newStatus=5 value='Set to Gone' class='bulkSetStatus'/>
	<% }  %>
	<% if ( status == 5 ) { %>
		<input type=button newStatus=6 value='Set to Closed' class='bulkSetStatus'/>
	<% }  %>
	<% if ( status != 99 ) { %>
		<input type=button newStatus=99 value='Set to MASKED' class='bulkSetStatus'/>
	<% } %>
<% } else { %>
	<label for='remark'>Remark:</label><textarea name='remark' cols=80 rows=1 disabled=disabled />
	<label for='overwrite'>Overwrite:</label><input type='checkbox' name='overwrite' disabled=disabled></input>
	<input type=hidden name='status' id='bulkEditStatus' value='<%= status %>' disabled=disabled />
	<input type=button newStatus=<%= status %> value='Update' class='bulkSetStatus' disabled=disabled />
<% } %>
