<%# Copyright 2011-2017 Frank Breedijk                                            %>
<%#                                                                          %>
<%# Licensed under the Apache License, Version 2.0 (the "License");          %>
<%# you may not use this file except in compliance with the License.         %>
<%# You may obtain a copy of the License at                                  %>
<%#                                                                          %>
<%# http://www.apache.org/licenses/LICENSE-2.0                               %>
<%#                                                                          %>
<%# Unless required by applicable law or agreed to in writing, software      %>
<%# distributed under the License is distributed on an "AS IS" BASIS,        %>
<%# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. %>
<%# See the License for the specific language governing permissions and      %>
<%# limitations under the License.                                           %>
<% // Renders a table row %>
<% for(var i=0;i < columns.length;i+=2) { %>
	<% if (columns[i] == "") { %>
		<% if(columns[i+1] == "Action") { %>
			<td>
			    <% if ( typeof(noEdit) == "undefined" || ! noEdit ) { %>
					<img class='editFinding' src='img/edit.png'><br>
				<% } %>
			    <% if ( typeof(noLink) == "undefined" ||! noLink ) { %>
					<img class='linkFinding' src='img/link.png'><br>
				<% } %>
			    <% if ( typeof(noFindingUnlink) == "undefined" || ! noFindingUnlink ) { %>
					<img class='unlinkFinding' src='img/unlink.png'><br>
				<% } %>
                <% if ( typeof(noEdit) == "undefined" || ! noEdit ) { %>
					<% if (status == 99 ) { %>
						<a href='javascript://' value='1' class='small changeState'><img src='img/new.png'></a><br>
					<% } %>
					<% if (status <= 2 || status == 4 ) { %>
						<a href='javascript://' value='3' class='small changeState'><img src='img/open.png'></a><br>
					<% } %>
					<% if (status < 4 ) { %>
						<a href='javascript://' value='4' class='small changeState'><img src='img/noissue.png'></a><br>
					<% } %>
					<% if (status == 6 ) { %>
						<a href='javascript://' value='5' class='small changeState'><img src='img/gone.png'></a><br>
					<% } %>
					<% if (status == 5 ) { %>
						<a href='javascript://' value='6' class='small changeState'><img src='img/closed.png'></a><br>
					<% } %>
					<% if (status != 99 ) { %>
						<a href='javascript://' value='99' class='small changeState'><img src='img/masked.png'></a><br>
					<% } %>
				<% } %>
			</td>
		<% } else if (columns[i+1] == "select") { %>
			<td class='center'>
				<% if( checked.all) { %>
					<img src='img/checkbox_filled.png' class='selectFinding' checked="checked" finding='<%= this.id %>'>
				<% } else  { %>
					<img src='img/checkbox_blank.png' class='selectFinding' finding='<%= this.id %>'>
				<% } %>
			</td>
		<% } else { %>
			<td>
				Unknown colum <%= columns[i+1] %>
			</td>
		<% } %>
	<% } else if (columns[i] == "find") { %>
		<td class='finding'>
			<% if(this.find.length > 150) { %>
				<span class='reduced'>
					<%== this.asHTML("find",150) %>...
				</span>
				<span class='full'>
					<%== this.asHTML("find") %>
				</span>
				<div class='more'><a href='javascript://'>More</a></div>
			<% } else { %>
				<%== this.asHTML("find") %>
			<% } %>
		</td>
	<% } else if (columns[i] == "remark") { %>
		<td><%== this.asHTML("remark") %></td>
	<% } else if (columns[i] == "status") { %>
		<td><%= status %>. <%= statusName %></td>
	<% } else if (columns[i] == "issues") { %>
		<td>
			<% if ( this["issues"] == null )  { %>
				0 issues
			<% } else { %>
				<%= issues.length %> issue<%= issues.length > 1 ? "s" : "" %>:<br>
				<ul>
					<% for ( x = 0; x < issues.length ; x++ ) { %>
						<li>
							<div title='<%= issues[x].description %>'>
                                <% if ( typeof(noLink) == "undefined" ||! noLink ) { %>
							    	<img class='editIssue' issueId='<%= issues[x].id %>' src='img/edit.png'>
								<% } %>
							    <% if ( ! noIssueUnlink ) { %>
									<img class='unlinkIssue' issueId='<%= issues[x].id %>' src='img/unlink.png'>
								<% } %>
								<%= issues[x].name %>
								<% if ( issues[x].url ) { %>
									(<a href='<%= issues[x].url%>' target=_blank><%= issues[x].ext_ref %><a/>)
								<% } else { %>
									(<%= issues[x].ext_ref %>)
								<% } %>
								- <%= issues[x].severityName %> - <%= issues[x].statusName %>
							</div>
						</li>
					<% } %>
				</ul>
			<% } %>
		</td>
	<% } else { %>
		<td><%= this[columns[i]] %></td>
	<% } %>
<% } %>
