<% // Renders a table row %>
<td><%= host %></td>
<td><%= hostName %></td>
<td><%= port %></td>
<td><%= plugin %></td>
<td><%= severity %>. <%= severityName %></td>
<td><%= find %></td>
<td><%= remark %></td>
