<% // Renders a table row %>
<% for(var i=0;i < columns.length;i+=2) { %>
	<% if (columns[i] == "") { %>
		<% if(columns[i+1] == "Action") { %>
			<td>
				<a href='javascript://' class='editFinding'>Edit</a><br>
				<div>
				<% if (state == 99 ) { %>
					<a href='javascript://' value='1' class='small changeState'>New</a>
				<% } %>
				<% if (state <= 2 || state == 4 ) { %>
					<a href='javascript://' value='3' class='small changeState'>Open</a>
				<% } %>
				<% if (state < 4 ) { %>
					<a href='javascript://' value='4' class='small changeState'>No&nbsp;issue</a>
				<% } %>
				<% if (state == 6 ) { %>
					<a href='javascript://' value='5' class='small changeState'>Gone</a>
				<% } %>
				<% if (state == 5 ) { %>
					<a href='javascript://' value='6' class='small changeState'>Close</a>
				<% } %>
				<% if (state != 99 ) { %>
					<a href='javascript://' value='99' class='small changeState'>MASK</a>
				<% } %>
				</div>
			</td>
		<% } else if (columns[i+1] == "select") { %>
				<% if( checked.all) { %>
					<img src='img/checkbox_filled.png' class='selectFinding' checked="true" finding='<%= this.id %>'>
				<% } else  { %>
					<img src='img/checkbox_blank.png' class='selectFinding' finding='<%= this.id %>'>
				<% } %>
		<% } else { %>
				Unknown colum <%= columns[i+1] %>
		<% } %>
	<% } else if (columns[i] == "find") { %>
		<td><%== this.asHTML("find") %></td>
	<% } else { %>
		<td><%= this[columns[i]] %></td>
	<% } %>
<% } %>
