<%# Copyright 2015 Frank Breedijk                                            %>
<%#                                                                          %>
<%# Licensed under the Apache License, Version 2.0 (the "License");          %>
<%# you may not use this file except in compliance with the License.         %>
<%# You may obtain a copy of the License at                                  %>
<%#                                                                          %>
<%# http://www.apache.org/licenses/LICENSE-2.0                               %>
<%#                                                                          %>
<%# Unless required by applicable law or agreed to in writing, software      %>
<%# distributed under the License is distributed on an "AS IS" BASIS,        %>
<%# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. %>
<%# See the License for the specific language governing permissions and      %>
<%# limitations under the License.                                           %>
<% if(typeof this[0] != "undefined" && typeof this[0].error != "undefined" ) { %>
	<%== $.View('//seccubus/finding/table/views/error.ejs', { 
		message		: this[0].error,
		columns		: columns,
		orderBy		: orderBy,
		descending	: descending,
		checked		: checked
	}) %>
<% } else { %>
	Showing <%= this.length %> findings
	<% if(typeof noHeader == "undefined" || ! noHeader ) { %>
		<%== $.View('//seccubus/finding/table/views/header.ejs', {
			columns		: columns,
			orderBy		: orderBy,
			descending	: descending,
			checked		: checked
		}) %>
	<% } %>
	<tbody>
		<% this.sort(fn) %>
		<%for ( var i = 0; i < this.length ; i++ ){%>
			<tr <%= this[i] %> class='sev_<%= this[i].severity %>'>
				<%== $.View('//seccubus/finding/table/views/finding.ejs', 
					this[i], 
					{
						columns 	: columns,
						state		: fStatus,
						checked 	: checked,
						noEdit		: noEdit,
						noLink		: noLink,
						noFindingUnlink	
									: noFindingUnlink,
						noIssueUnlink	
									: noIssueUnlink
					}
				) %>
			</tr>
		<% } %>
		<% if ( this.length == 0 ) { %>
			<tr><td colspan=<%= columns.length/2 %>>No findings match you selection</td></tr>
		<% } %>
	</tbody>
<% } %>
