<%# Copyright 2014 Frank Breedijk, Artien Bel (Ar0xA)                        %>
<%#                                                                          %>
<%# Licensed under the Apache License, Version 2.0 (the "License");          %>
<%# you may not use this file except in compliance with the License.         %>
<%# You may obtain a copy of the License at                                  %>
<%#                                                                          %>
<%# http://www.apache.org/licenses/LICENSE-2.0                               %>
<%#                                                                          %>
<%# Unless required by applicable law or agreed to in writing, software      %>
<%# distributed under the License is distributed on an "AS IS" BASIS,        %>
<%# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. %>
<%# See the License for the specific language governing permissions and      %>
<%# limitations under the License.                                           %>
<h2>Change your scan here</h2>
<table class='noborder'>
	<tr><td class='noborder'>
		<label for='name'>Name</label> 
	</td><td class='noborder'>
		<input type='input' size=78 name='name' value='<%= name %>' id='editScanName'/>
	</td></tr>
	<tr><td class='noborder'>
		<label for='scanner'>Scanner</label> 
	</td><td class='noborder'>
		<select name='scanner' id='editScanScanner'/></select>
	</td></tr>
	<tr id='editScanOtherScannerRow'><td class='noborder'>
		<label for='otherScanner'>Specify scanner:</label> 
	</td><td class='noborder'>
		<input type=input size=78 name='otherScanner' id='editScanOtherScanner' value='<%= scanner %>'/>
	</td></tr>
	<tr><td class='noborder'>
		<label for='parameters'>Parameters</label> 
	</td><td class='noborder'>
		<input type='input' size=78 name='parameters' id='editScanParam' value='<%= parameters %>'/>
	</td></tr>
	<tr><td class='noborder'>
		<label for='defaults'>Defaults</label> 
	</td><td class='noborder'>
		<input type='input' size=78 name='defaults' id='defaultParams' value='' readonly=true/>
	</td></tr>
	        <tr id='editScanPasswordRow'><td class='noborder'>
                <label for='password'>Password</label>
        </td><td class='noborder'>
                <input type='password' size=78 name='password' id='editScanPassword' value='<%= password %>'/>
        </td></tr>
	<tr id="editScanTargetsPlace"><td class='noborder'>
		<label for='targets'>Hosts</label> 
	</td><td class='noborder'>
		<textarea rows=5 cols=59 name='targets' id='editScanTargets'><%= targets %></textarea>
	</td></tr>
	<tr id="editScanAssetsPlace"><td class='noborder'>
		<label for='assets'>Assets</label> 
	</td><td class='noborder'>
		<select id='editScanAssets' MULTIPLE size="6" style="width:400px;" name='assets' ></select>
	</td></tr>
	<tr><td class='noborder' colspan=2 align='right'>
		<input type='submit' value='Update'/>
		<button type='button' class='cancel'>Cancel</button>
	</td></tr>
	<tr><td class='noborder' colspan=2>
		<div id='editScanHelp'></div>
	</td></tr>
</table>

<h2>Edit your notifications here</h2>
<button class='createNotification' type='button' id="newNotification">New notification</button>
<table id="editScanNotifications"></table>
