<% %>
<thead>
	<tr><th>
		Time
	</th><th>
		Attachments
	</th></tr>
</thead><tbody>
	<% for(var i=0; i<this.length; i++) { %>
		<tr><td>
			<%= this[i].time %>
		</td><td>
			<% if( typeof(this[i].attachments) != "undefined") { %>
				<% for(var n=0; n<this[i].attachments.length; n++) { %>
					<% if(download) { %>
						<a href=javascript:// 
							class=download 
							runId='<%= this[i].id %>'
							attachmentId='<%= this[i].attachments[n].id %>
						'><%=  this[i].attachments[n].name %></a>
					<% } else { %>
						<%=  this[i].attachments[n].name %>
					<% } %>
					 - <%=  this[i].attachments[n].description %>
					<br>
				<% } %>
			<% } %>
		</td></tr>
	<% } %>
</tbody>
