<div class="<%= this.options.buttonClass %> first_record <%= this.options.prevActive ? this.options.activeClass : ""%>">First</div>
<div class="<%= this.options.buttonClass %> previous_record <%= this.options.prevActive ? this.options.activeClass : ""%>">Prev</div>
<div class="<%= this.options.rangeClass %>">
	<span class='start'><%= this.options.limit ?  this.options.offset+1 : 0 %></span> to 
	<span class='end'><%= this.options.limit ? (this.options.offset+this.options.limit > this.options.count ? this.options.count : this.options.offset+this.options.limit) : 0%></span> 
	(of <span class='count'><%= this.options.count || 0%></span>)
</div>
<div class="<%= this.options.buttonClass %> next_record <%= this.options.nextActive ? this.options.activeClass : ""%>">Next</div>
<div class="<%= this.options.buttonClass %> last_record <%= this.options.nextActive ? this.options.activeClass : ""%>">Last</div>
				